:root {
  --fg: #f5f5f5;
  --bg: #1d1e1f;
  --color-input: #000;
  --color-border: #555;

  color-scheme: light dark;
  color: var(--fg);
  background-color: var(--bg);

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2.5em;
  line-height: 1.2;
}

@media (prefers-color-scheme: light) {
  :root {
    --fg: #222;
    --bg: #f5f5f5;
    --color-input: #fff;
    --color-border: #999;
  }
}
